@model BillGeneratorTask.Core.ViewModel.TotalBillViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <table>
                <tr>
                    <td width="250px">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Item Name</label>
                            <select asp-for="BillGenerator.ItemId" class="form-control" asp-items="ViewBag.items"></select>
                        </div>
                    </td>
                    <td width="40px"></td>
                    <td width="250px">
                        <div class="form-group">
                            <label class="control-label">Item Count</label>
                            <input asp-for="BillGenerator.Count" class="form-control" />
                            <span asp-validation-for="BillGenerator.Count" class="text-danger"></span>
                        </div>
                    </td>
                    <td width="40px"></td>
                    <td width="200px">
                        <div></div>
                        <div class="form-group">
                            <input type="submit" value="Add Item" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>




<table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:300px">Item Name</th>
        <th style="width:100px">Price</th>
        <th style="width:100px">Item Count</th>
        <th style="width:100px">Discount(%)</th>
        <th style="width:100px">Discount</th>
        <th style="width:100px">GST</th>
        <th style="width:150px">Total</th>
        <th style="width:150px"></th>
    </tr>
    @foreach (var item in Model.BillGeneratorViewModels)
    {
        <tr>
            <td class="itemName">
                <span>@item.ItemName</span>
            </td>
            <td class="Price">
                <span>@item.Price</span>
            </td>
            <td class="ItemCount">
                <span>@item.ItemCount</span>
            </td>
            <td class="Discount">
                <span>@item.Discount.ToString("0.00")</span>
            </td>
            <td class="TotalDiscountPerItems">
                <span>@item.TotalDiscountPerItems.ToString("0.00")</span>
            </td>
            <td class="TotalGSTPerItems">
                <span>@item.TotalGSTPerItems.ToString("0.00")</span>
            </td>
            <td class="ItemTotal">
                <span>@item.ItemTotal.ToString("0.00")</span>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
    }
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td class="ItemsCount">
            <b><span>@Model.ItemsCount</span></b>
        </td>
        <td></td>
        <td class="TotalDiscount">
            <b><span>@Model.TotalDiscount.ToString("0.00")</span></b>
        </td>
        <td class="TotalGST">
            <b> <span>@Model.TotalGST.ToString("0.00")</span></b>
        </td>
        <td class="GrandTotal">
            <b> <span>@Model.GrandTotal.ToString("0.00")</span></b>
        </td>
        <td >
        </td>

    </tr>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
